/* Style global */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* En-tête */
header {
    background-color: #ffc107;
    color: black;
    text-align: center;
    padding: 20px;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container img {
    width: 60px; /* Ajuste la taille des logos */
}
td /* Toutes les cellules des tableaux... */
{
border: 2px solid black; /* ... auront une bordure de 1px */
}
table
{
border-collapse: separate; /* Les bordures du tableau seront collées (plus joli) */
}
body {
    background-image: url("plan6.jpg");
    background-size: cover; /* Pour que l'image couvre tout l'arrière-plan */
    background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    /* Vous pouvez ajouter d'autres propriétés de background ici, comme background-position */
  }
