body {
    background-image: url("plan6.jpg");
    background-size: cover; /* Pour que l'image couvre tout l'arrière-plan */
    background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
    /* Vous pouvez ajouter d'autres propriétés de background ici, comme background-position */
  }
}

body {
    text-align: center;
}
p {
    margin: 20px;
    line-height: 1.6;
}
body {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
}
body {
    background-color: #181818;
}
strong {
    color: yellow;
}
button.suivant {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
body {
    background-color: #F4F4F4; /* Un gris clair neutre pour éviter une surcharge visuelle */
}

h1, h2 {
    color: #FF8C00; /* Une belle nuance d'orange pour apporter du contraste */
}

button {
    background-color: #FFA500; /* Un orange lumineux mais subtil */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FF4500; /* Un peu plus de peps au survol */
}

a {
    color: #E67E22; /* Une teinte orangée plus douce pour les liens */
}
